@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Test App (.NET 7)</h1>
    <div>Host operating system: @Model.OSVersion</div>
</div>
