@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Test App from .NET 7</h1>
    <div>Host operating system: @Model.OSVersion</div>
</div>

<h1>Some new Section</h1>

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>